body {
    background-color: #d0d6cd;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: url(Finnish_forest_Fotor.jpg) no-repeat center bottom fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0px;  
}


header h1{
    font-size: 3.5em;
    color: #fff;
    text-shadow: 3px 3px 3px  #000;
    z-index: 999;
    padding: 50px;
    margin: 0px;
}

#menu {
    display:none;
}



.navigation {
    background-color: #fff;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #6f786a;
}

.navigation li{
    display: inline-block;
}

.navigation ul {
    height: 30px;
}

.navigation a {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
}

.navigation a:hover {
    color: #000; 
    
}

.now a {
  color: #6f786a;  
}

.blog-post {
    font-size: 1.2em;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.blog-post h2 {
    font-size: 2em;
}

.blog-post h2:hover {
    transition: 1s;
    font-size: 3em;
}

.blog-post p{
    font-weight:100;
}

.resize {
    width: 90%;
    max-width: 400px;
    height: auto;
}

.resize:hover {
    transition: 1s;
    width:95%;
    max-width: 450px;
}

.news {
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    margin: 40px 0px 20px 40px;
    padding: 20px;
    background-color: #fff;
}

.newspic {
    width: 60%;
    max-width: 300px;
    height: auto;
    
}




.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: dimgray;
    text-align: center;
    margin: 0px;
}

footer p {
    text-align: center;
    padding: 15px;  
}

footer a {
    display: inline-block;
}

footer img {
    width: 50px;
    height: 50px;
    padding: 15px;
}

@media screen and (max-width: 550px) {
#menu {
    font-size: 2em;
    color: #c7c7c7;
    padding: 15px;
    display: inline-block;
}
.dropdown {
    display: block;
    height: 70px;
}
.dropdown-content {
    display: none;
    position:relative;
    top: -25px;
    left: -40px;
    background-color: #fff;
    width: 120%;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #6f786a;   
}
.dropdown-content a {
    color: #c7c7c7;
    font-size: 1em;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: black;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
} 
.now a {
  color: #6f786a;  
}    
.blog-post {width: 90%;}
.news {
    margin: 10px 0px 10px 0px;
    width:90%;}
footer a {
    display: block;
}
}



@media screen and (max-device-width: 550px) {
    .navigation {
        height: 240px;
    }
    .navigation a {
        font-size: 5em;
    } 
    header h1{
        font-size: 6em;
    }
    .navigation {
        
    }
    .blog-post {
        font-size: 3em;
        width: 95%;
    }
    .blog-post h2 {
        font-size: 4em;
    }
    footer a {
        display: block;
    }
}
















